html {
  background-image: url("img/download.png");
  background-size: 500px;
}
body {
  color: rgb(4, 4, 17);
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}

td {
  font-weight: bold;
  padding-right: 150px;
}

.background-size {
  font-size: xx-small;
}
